{% extends "base.html" %}
{% block content %}

<h2>Admin Dashboard</h2>

<table border="1" cellpadding="10" width="100%">
    <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Edit</th>
    </tr>

    {% for p in plans %}
    <tr>
        <td><img src="{{ url_for('static', filename='img/' + p.logo) }}" style="height:50px;"></td>
        <td>{{ p.name }}</td>
        <td>₹{{ p.price }}</td>
        <td>{{ "Available" if p.available else "Not Available" }}</td>
        <td><a href="/admin/edit/{{ p.id }}" class="btn">Edit</a></td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/admin/logout" class="btn-red btn">Logout</a>

{% endblock %}
