{% extends "base.html" %}
{% block content %}

<h1>Edit Plan</h1>

<form method="post" class="form">
    <label>Name</label>
    <input type="text" name="name" value="{{ product.name }}" required>

    <label>Price</label>
    <input type="number" name="price" value="{{ product.price }}" required>

    <label>Description</label>
    <input type="text" name="desc" value="{{ product.desc }}" required>

    <label>Logo File</label>
    <input type="text" name="logo" value="{{ product.logo }}">

    <button class="btn" type="submit">Save</button>
</form>

{% endblock %}
