{% extends "base.html" %}
{% block content %}

<h1>Admin Dashboard</h1>

<p><a class="btn" href="{{ url_for('admin_add') }}">Add Plan</a></p>

<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for plan in data.plans %}
        <tr>
            <td>{{ plan.id }}</td>
            <td><img src="{{ url_for('static', filename='img/' + plan.logo) }}" width="70"></td>
            <td>{{ plan.name }}</td>
            <td>₹{{ plan.price }}</td>
            <td>{{ plan.desc }}</td>
            <td>
                <a class="btn small" href="/admin_edit/{{ plan.id }}">Edit</a>
                <a class="btn small danger" href="/admin_delete/{{ plan.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
