{% extends "base.html" %}
{% block content %}

<h1>Add New Plan</h1>

<form method="post" class="form">

    <label>Plan Name</label>
    <input type="text" name="name" required>

    <label>Price</label>
    <input type="number" name="price" required>

    <label>Description</label>
    <input type="text" name="desc" required>

    <label>Logo File Name (from static/img)</label>
    <input type="text" name="logo" placeholder="netflix.png" required>

    <button class="btn" type="submit">Add Plan</button>
</form>

{% endblock %}
