<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTT Store</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js" defer></script>
</head>
<body>

<nav class="nav">
    <img src="/static/img/logo-dark.png" class="logo">
    <a href="/">Home</a>
    <a href="/plans">Plans</a>
    <a href="/cart">Cart</a>
    <a href="/admin/login">Admin</a>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
