<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTT Minor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<header class="site-header">
    <div class="container header-flex">

        <a href="/" class="logo">
            OTT Minor
        </a>

        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/plans">Plans</a>
            <a href="/cart">Cart</a>
            <a href="/contact">Contact</a>
            <a href="/admin_login">Admin</a>
        </nav>

    </div>
</header>

<main class="main-content">
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    <p>© 2025 OTT Minor. All Rights Reserved.</p>
</footer>

<!-- MAIN JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
