{% extends "base.html" %}
{% block content %}

<h2>Your Cart</h2>

{% if not cart %}
<p>No items in cart.</p>
{% else %}

<table border="1" cellpadding="10" width="100%">
    <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Price</th>
        <th>Remove</th>
    </tr>

    {% for item in cart %}
    <tr>
        <td><img src="{{ url_for('static', filename='img/' + item.logo) }}" style="height:50px;"></td>
        <td>{{ item.name }}</td>
        <td>₹{{ item.price }}</td>
        <td><a href="/cart/remove/{{ item.id }}" class="btn-red btn">X</a></td>
    </tr>
    {% endfor %}
</table>

<h3>Total: ₹{{ total }}</h3>

<a href="/checkout" class="btn-green btn">Proceed to Checkout</a>

{% endif %}

{% endblock %}
