{% extends "base.html" %}
{% block content %}

<div class="checkout-box">

    <h1 class="checkout-title">Secure Checkout</h1>

    <p class="checkout-sub">
        Complete your payment to activate your plan
    </p>

    <div class="payment-section">

        <div class="qr-box">
            <p class="label">Scan QR to Pay</p>
            <img src="{{ url_for('static', filename='img/qr.png') }}" class="qr-image">
        </div>

        <form action="/submit_utr" method="post" class="utr-form">

            <label>Enter UTR / Transaction ID</label>
            <input type="text" name="utr" required placeholder="Enter UTR Number">

            <button type="submit" class="pay-btn">
                Submit Payment
            </button>

        </form>

    </div>

</div>

{% endblock %}
