{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center; margin-bottom:25px;">Choose Your Streaming Plan</h1>

<div class="grid">
    {% for plan in data.plans %}
    <div class="card">

        <!-- Logo -->
        <img src="{{ url_for('static', filename='img/' + plan.logo) }}" 
             alt="{{ plan.name }}">

        <!-- Plan Title -->
        <h3>{{ plan.name }}</h3>

        <!-- Description -->
        <p class="desc">{{ plan.desc }}</p>

        <!-- Price -->
        <p class="price">₹{{ plan.price }}</p>

        <!-- Buy Button -->
       <div class="buttons">
    <a class="btn btn-secondary" href="/add_to_cart?plan_id={{ plan.id }}">Add to Cart</a>
    <a class="btn btn-primary" href="/checkout?plan_id={{ plan.id }}">Buy Now</a>
</div>

{% endblock %}
