{% extends "base.html" %}
{% block content %}

<h1 class="page-title">All Plans</h1>

<div class="plan-grid">
    {% for plan in data.plans %}
    <div class="card">
        <img src="{{ url_for('static', filename='img/' + plan.logo) }}">
        <h3>{{ plan.name }}</h3>
        <p>{{ plan.desc }}</p>
        <div class="price">₹{{ plan.price }}</div>
        <a href="/add_to_cart/{{ plan.id }}" class="btn btn-dark">Add to Cart</a>
        <a href="/checkout/{{ plan.id }}" class="btn btn-primary">Buy Now</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
