{% extends "base.html" %}
{% block content %}
<h2>All Plans</h2>

<div style="display:flex; flex-wrap:wrap;">
    {% for p in plans %}
    <div class="card" style="width:220px;">
        <img src="{{ url_for('static', filename='img/' + p.logo) }}" class="product-img">

        <h3>{{ p.name }}</h3>
        <p>{{ p.desc }}</p>
        <p><b>₹{{ p.price }}</b></p>

        {% if p.available %}
            <a href="/add-to-cart/{{ p.id }}" class="btn-green btn">Add to Cart</a>
            <a href="/buy-now/{{ p.id }}" class="btn">Buy Now</a>
        {% else %}
            <p style="color:red;">Not Available</p>
        {% endif %}

        <a href="/plan/{{ p.id }}" class="btn">View</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
